.program-form {
  margin-top: 24px;
}

.program-form__list {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 22px 0 20px;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.program-form__radio {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .program-form {
    margin-top: 72px;
    padding: 30px 28px;
    border: 1px solid #eaeaea;
  }

  .program-form__list {
    border: none;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .program-form {
    width: 100%;
    margin-top: 66px;
    padding: 25px 28px;
  }

  .program-form__list {
    gap: 33px;
  }
}
